body{
    margin: 0;
    text-align: center;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color: #E8F0F2;
}
#h1-gustave {
    font-size: 70px;
}
 #mountain {
    width: 60%;
} 
.top-cloud {
    position: absolute;
    right: 23%;
    top: 8%;
    width: 9%;
}
#middle-cloud {
    position: absolute;
    right: 27%;
    top: 40%;
    width: 9%;
}
#bottom-cloud{
    position: absolute;
    left: 25%;
    bottom: 62%;
    width: 9%;
}
h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}
h2, h3 {
    font-family: 'Montserrat', sans-serif;
}
#font-G {
    font-family: 'Clicker Script', cursive;
}
#profile-image {
    width: 300px;
}
p {
    width: 40%;
    margin: 0 auto 0 auto;
}
#p-1{
    margin: -44px auto 0 auto;
}
.top-container {
    background-color: #E4F9F5; 
    position: relative;
    padding-top: 100px;
    width: 100%;
}
.section-profile {
    padding: 6% 0 5%;
}
.div-images {
    padding: 5%;
    height: 200px;
    padding-bottom: 0;
    position: relative;
    top: 5px;
}
.sunset {
    width: 30%;
    position: relative;
    display: inline-block;
}
#code-icon {
    width: 100%;
}
.st-all{
    padding: 2% 0;
}
.st {
    display: inline-block;
    position: relative;
    width: 25%;
}
#st-1 {
    position: relative;
    bottom: 33px;
    right: 10px;
}
#st-2 {
    position: relative;
    bottom: 35px;
}
#h2-st {
    position: relative;
    bottom: 12px;

}
.h3-st {
    position: relative;
    padding-bottom: 5px;
    left: 15px;
}
ul {
    list-style: none;
}

#hr1 {
    border-style: none;
    margin: 0px auto 60px auto;
    border-top-style: dotted;
    border-color: #7952B3;
    border-width: 5px;
    width: 4%;
}
.cc-all{
    position: relative;
    display: inline-block;
    padding: 2%;
    background-color: #E4F9F5;
    margin: 0 0 5% 0;
}
#img-cert1 {
    width: 30%;
}
#cloud4 {
    position: absolute;
    left: 118%;
    width: 20%;
    top: 247px;
}
#cloud5 {
    position: absolute;
    right: 109%;
    width: 20%;
    top: 103px;
}
#img-pc {
    width: 8%;
    left: 10px;
    position: fixed;
    bottom: 13px;
}
#img-pc2 {
    width: 7%;
    right: 10px;
    position: fixed;
    bottom: 9px;
}
.bottom-container {
    position: relative;
    display: inline-block;
    height: 97px;
    background-color: #DEEDF0;
}
.logos {
    width: 11%;
}
#hr-bottom{
    margin: 0;
}
.div-cb{
    text-align: center;
    margin: auto;
    position: relative;
    display: inline-block;
    width: 18%;
}
a{
    position: absolute;
}

@media only screen and (max-width: 480px) {
    #mountain {
      width: 88%;
    }
    .profile {
        width: 50%;
    }
    #profile-image {
        width: 60%;
    }
    .bottom-cloud{
        left: 8%;
        bottom: 43%;
        width: 30%;
    }
    #p-profile{
        width: 100%;
    }
    .top-cloud{
        width: 30%;
        right: 13%;
        top: 11%;
    }
    .div-images {
        height: auto;
    }
}
